<script>
  $(function() {
    $('#board_button').css("border","#8c8c8c 1px solid");
  });   
</script>


<div class="row" style="margin: auto;">
  <h1>게시판</h1>
  <br>
  <div class="panel panel-default">
        <!-- Table -->
        <table class="table table-striped table-condensed">
            <col style="width:10%">
            <col style="width:15%">
            <col style="width:35%">
            <col style="width:15%">
            <col style="width:5%">
            <col style="width:10%">
            <col style="width:10%">
          <thead>
            <tr>
              <th style="text-align:center">번호</th>  
              <th style="text-align:center">고사장</th>
              <th style="text-align:center">제목</th>
              <th style="text-align:center">작성자</th>
              <th style="text-align:center">평점</th>
              <th style="text-align:center">추천수</th>
              <th style="text-align:center">작성날짜</th>
            </tr>
          </thead>
          
          <!--테이블 row 클릭 이벤트-->
          <script>
            $(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
          });
          </script>
          <!--테이블 row 클릭 이벤트 끝-->
          
          <tbody>
            
            <tr style="cursor:pointer" class='clickable-row' data-href='#'>
                <td style="text-align:center;">-</td>
                <td style="text-align:center;">-</td>
                <td style="text-align:center">-</td>
                <td style="text-align:center">-</td>
                <td style="text-align:center">-</td>
                <td style="text-align:center">-</td>
                <td style="text-align:center">-</td>
            </tr>
            
          </tbody>
        </table>
      </div><br><br>
      <form action="#">
          <center><button type="submit" class="btn btn-default">후기 작성</button></center>
      </form>
</div>