<script>
  $(function() {
    $('#album_pill').toggleClass('active');
  });
</script>

<h1># Album
  <a href=""><span style="float:right; font-size:2.5em;">Upload</span></a>
</h1>
<br>



<header>
<% @photoModel.get.reverse.each do |x| %>
    <div>
      <img src="<%=x["photo"].url%>">
    </div>
<% end %>
  <!-- images placed inside block elements to deal with a Firefox rendering bug affecting  scaled flexbox images -->
</header>

<style>
  
header { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
header div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
header div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
  
}
</style>