<script>
  $(function() {
    $('#index_button').css("border","#8c8c8c 1px solid");
  });   
</script>

<div class="row">
  <%for x in 1..10%>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail" style="height:<%=(3+rand(3))*100%>px;"> 
        <img src="..." alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  <%end%>
</div>